<a href="https://colab.research.google.com/github/shintaroudlotulhanafia/TugasAkhirS1-DRL/blob/main/6_PreparingTradingviewDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# connecting gdrive into the google colab
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [1]:
# Listing files on a folder

import os

path = '/content/gdrive/MyDrive/TugasAkhirS1-DRL/5TradingViewScraper/5.1.DataPerStock/'
files = os.listdir(path)

for f in files:
	print(f)

WIKA.csv
UNVR.csv
UNTR.csv
TPIA.csv
TLKM.csv
TKIM.csv
TINS.csv
SMGR.csv
PTPP.csv
PTBA.csv
PGAS.csv
MNCN.csv
MIKA.csv
KLBF.csv
INKP.csv
ITMG.csv
JPFA.csv
INTP.csv
EXCL.csv
INCO.csv
INDF.csv
ICBP.csv
BUKA.csv
CPIN.csv
ERAA.csv
EMTK.csv
ADRO.csv
BRIS.csv
BRPT.csv
ANTM.csv

In [3]:
# import modules
import pandas as pd
import datetime
import time
import numpy as np

file_count = len(files)

# create empty list
dataframes_list = []

# append datasets to the list
for i in range(file_count):
	temp_df = pd.read_csv(path+"/"+files[i])
	dataframes_list.append(temp_df)

In [4]:
import time
import datetime
from time import mktime
from datetime import datetime as dt

new_dataframes_list = []

j=0
for df in dataframes_list:
	df.columns = ["tic", "indeks", "datadate", "open", "high", "low", "close", "volume"]
	df.rename(columns = {'close':'adjcp'}, inplace = True)
	df = df[['indeks', 'datadate', 'tic', 'adjcp', 'open', 'high', 'low', "volume"]]
	df['datadate'] = df['datadate'].fillna(0).astype(int)
	arr = df.to_numpy()
	for i in arr:
		arr[j][1] = dt.fromtimestamp(arr[j][1])
		j+=1
	df = pd.DataFrame(arr)
	df.columns = ['indeks', 'datadate', 'tic', 'adjcp', 'open', 'high', 'low', "volume"]
	df['datadate'] = pd.to_datetime(df['datadate']).dt.date
	df['datadate'] = pd.to_datetime(df['datadate'], format='%Y-%m-%d')
	df = df.loc[(df['datadate'] >= '2009-01-01') & (df['datadate'] <= '2020-08-05')]
	df['datadate'] = pd.to_datetime(df['datadate'], errors='coerce')
	df['datadate'] = df['datadate'].dt.strftime('%Y%m%d')
	new_dataframes_list.append(df)
	display(df)
	j=0

,indeks,datadate,tic,adjcp,open,high,low,volume
274,275,20090105,WIKA,208.366425,208.366425,212.99679,203.73606,41814198.0
275,276,20090106,WIKA,208.366425,208.366425,212.99679,199.105695,28309863.0
276,277,20090107,WIKA,208.366425,208.366425,217.627155,203.73606,53218806.0
277,278,20090108,WIKA,208.366425,203.73606,208.366425,194.47533,10329099.0
278,279,20090109,WIKA,208.366425,208.366425,217.627155,208.366425,30700063.0
...,...,...,...,...,...,...,...,...
3090,3091,20200729,WIKA,1205.0,1210.0,1235.0,1200.0,12971300.0
3091,3092,20200730,WIKA,1190.0,1205.0,1210.0,1170.0,20889700.0
3092,3093,20200803,WIKA,1110.0,1200.0,1200.0,1110.0,34809200.0
3093,3094,20200804,WIKA,1090.0,1110.0,1120.0,1060.0,35127700.0
3094,3095,20200805,WIKA,1120.0,1090.0,1130.0,1070.0,49010300.0

     indeks  datadate   tic   adjcp    open    high     low      volume
831     832  20090105  UNVR  1620.0  1560.0  1620.0  1560.0   7047500.0
832     833  20090106  UNVR  1640.0  1620.0  1670.0  1600.0  16432500.0
833     834  20090107  UNVR  1560.0  1640.0  1660.0  1550.0  12295000.0
834     835  20090108  UNVR  1590.0  1580.0  1610.0  1570.0   5025000.0
835     836  20090109  UNVR  1600.0  1590.0  1630.0  1580.0   4502500.0
...     ...       ...   ...     ...     ...     ...     ...         ...
3647   3648  20200729  UNVR  8250.0  8150.0  8300.0  8125.0  18793500.0
3648   3649  20200730  UNVR  8400.0  8250.0  8400.0  8200.0  19708600.0
3649   3650  20200803  UNVR  8250.0  8400.0  8450.0  8100.0  19125400.0
3650   3651  20200804  UNVR  8225.0  8350.0  8350.0  8150.0  13251900.0
3651   3652  20200805  UNVR  8250.0  8225.0  8250.0  8100.0  10465900.0

[2821 rows x 8 columns]

,indeks,datadate,tic,adjcp,open,high,low,volume
1728,1729,20090105,UNTR,5071.4905,4326.39,5071.4905,4326.39,25673482.0
1729,1730,20090106,UNTR,4951.313,5143.597,5335.881,4759.029,23181856.0
1730,1731,20090107,UNTR,5239.739,5047.455,5576.236,4951.313,22293586.0
1731,1732,20090108,UNTR,4999.384,4999.384,5239.739,4855.171,6885648.0
1732,1733,20090109,UNTR,5191.668,5095.526,5239.739,4951.313,7648582.0
...,...,...,...,...,...,...,...,...
4544,4545,20200729,UNTR,21500.0,21600.0,22000.0,21075.0,3823200.0
4545,4546,20200730,UNTR,21350.0,21600.0,21600.0,21000.0,3279800.0
4546,4547,20200803,UNTR,20450.0,21500.0,21600.0,19875.0,5624600.0
4547,4548,20200804,UNTR,20450.0,20650.0,20750.0,20150.0,3548700.0
4548,4549,20200805,UNTR,21525.0,20550.0,21875.0,20550.0,7539000.0

,indeks,datadate,tic,adjcp,open,high,low,volume
80,81,20090105,TPIA,301.05516,301.05516,301.05516,301.05516,0.0
81,82,20090106,TPIA,301.05516,301.05516,301.05516,301.05516,0.0
82,83,20090107,TPIA,301.05516,301.05516,301.05516,301.05516,0.0
83,84,20090108,TPIA,301.05516,301.05516,301.05516,301.05516,0.0
84,85,20090112,TPIA,301.05516,301.05516,301.05516,301.05516,0.0
...,...,...,...,...,...,...,...,...
2259,2260,20200729,TPIA,6442.1992,6169.9936,6442.1992,6056.5746,4675252.0
2260,2261,20200730,TPIA,6646.3534,6442.1992,6646.3534,6442.1992,5427551.0
2261,2262,20200803,TPIA,6691.721,6646.3534,6714.4048,6351.464,3156988.0
2262,2263,20200804,TPIA,6691.721,6691.721,6918.559,6646.3534,4949016.0
2263,2264,20200805,TPIA,6646.3534,6669.0372,6669.0372,6532.9344,3616677.0

     indeks  datadate   tic   adjcp    open    high     low       volume
824     825  20090105  TLKM  1460.0  1430.0  1480.0  1420.0   77242500.0
825     826  20090106  TLKM  1440.0  1440.0  1490.0  1430.0  103442500.0
826     827  20090107  TLKM  1380.0  1440.0  1460.0  1380.0   66135000.0
827     828  20090108  TLKM  1400.0  1360.0  1420.0  1360.0   45320000.0
828     829  20090109  TLKM  1420.0  1400.0  1430.0  1390.0   92242500.0
...     ...       ...   ...     ...     ...     ...     ...          ...
3640   3641  20200729  TLKM  3000.0  3030.0  3050.0  3000.0  114352000.0
3641   3642  20200730  TLKM  3050.0  3040.0  3050.0  3000.0   95785000.0
3642   3643  20200803  TLKM  2920.0  3060.0  3060.0  2850.0  255659800.0
3643   3644  20200804  TLKM  2950.0  2970.0  2970.0  2920.0   96018000.0
3644   3645  20200805  TLKM  3020.0  2960.0  3040.0  2920.0  120719100.0

[2821 rows x 8 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,indeks,datadate,tic,adjcp,open,high,low,volume
809,810,20090105,TKIM,542.8305,558.1215,565.767,542.8305,15041.0
810,811,20090106,TKIM,550.476,565.767,588.7035,550.476,457131.0
811,812,20090107,TKIM,565.767,581.058,634.5765,565.767,735072.0
812,813,20090108,TKIM,603.9945,565.767,626.931,565.767,833823.0
813,814,20090109,TKIM,611.64,603.9945,626.931,603.9945,295598.0
...,...,...,...,...,...,...,...,...
3483,3484,20200729,TKIM,6975.0,6725.0,7150.0,6500.0,24821400.0
3484,3485,20200730,TKIM,6750.0,7100.0,7175.0,6750.0,16783200.0
3485,3486,20200803,TKIM,6300.0,6750.0,6800.0,6300.0,25439700.0
3486,3487,20200804,TKIM,6600.0,6350.0,6650.0,6225.0,19298200.0
3487,3488,20200805,TKIM,6575.0,6650.0,6800.0,6475.0,17054800.0

,indeks,datadate,tic,adjcp,open,high,low,volume
826,827,20090105,TINS,851.47776,777.1424,858.23552,756.86912,127721315.0
827,828,20090106,TINS,824.44672,851.47776,864.99328,797.41568,80194472.0
828,829,20090107,TINS,824.44672,831.20448,898.78208,810.9312,212559339.0
829,830,20090108,TINS,797.41568,824.44672,824.44672,790.65792,43543274.0
830,831,20090109,TINS,858.23552,810.9312,858.23552,797.41568,54798483.0
...,...,...,...,...,...,...,...,...
3642,3643,20200729,TINS,780.0,740.0,795.0,735.0,76452700.0
3643,3644,20200730,TINS,760.0,780.0,790.0,755.0,30421000.0
3644,3645,20200803,TINS,735.0,760.0,770.0,710.0,60129700.0
3645,3646,20200804,TINS,730.0,735.0,750.0,725.0,14636300.0
3646,3647,20200805,TINS,760.0,680.0,765.0,680.0,26508100.0

     indeks  datadate   tic   adjcp    open    high     low     volume
813     814  20090105  SMGR  4200.0  4200.0  4275.0  4200.0  3030000.0
814     815  20090106  SMGR  4225.0  4200.0  4250.0  4200.0  1553000.0
815     816  20090107  SMGR  4250.0  4225.0  4275.0  4175.0  2136500.0
816     817  20090108  SMGR  4250.0  4175.0  4250.0  4150.0  3490500.0
817     818  20090109  SMGR  4250.0  4200.0  4250.0  4175.0  2615500.0
...     ...       ...   ...     ...     ...     ...     ...        ...
3629   3630  20200729  SMGR  9475.0  9500.0  9525.0  9375.0  2241000.0
3630   3631  20200730  SMGR  9225.0  9475.0  9500.0  9225.0  3745200.0
3631   3632  20200803  SMGR  9125.0  9250.0  9400.0  8825.0  5676700.0
3632   3633  20200804  SMGR  9200.0  9100.0  9350.0  9050.0  2420500.0
3633   3634  20200805  SMGR  9450.0  9200.0  9475.0  9150.0  5206000.0

[2821 rows x 8 columns]

,indeks,datadate,tic,adjcp,open,high,low,volume
0,1,20100210,PTPP,532.266,551.2755,560.78025,522.76125,23877534.0
1,2,20100211,PTPP,541.77075,532.266,551.2755,532.266,31922459.0
2,3,20100212,PTPP,570.285,541.77075,579.78975,541.77075,48501538.0
3,4,20100215,PTPP,560.78025,560.78025,579.78975,560.78025,25769220.0
4,5,20100216,PTPP,579.78975,570.285,579.78975,560.78025,21515031.0
...,...,...,...,...,...,...,...,...
2550,2551,20200729,PTPP,1005.0,995.0,1025.0,990.0,40513400.0
2551,2552,20200730,PTPP,975.0,1010.0,1015.0,970.0,43731100.0
2552,2553,20200803,PTPP,910.0,975.0,1000.0,910.0,75660500.0
2553,2554,20200804,PTPP,890.0,910.0,920.0,880.0,61910800.0
2554,2555,20200805,PTPP,940.0,890.0,945.0,880.0,101214000.0

     indeks  datadate   tic   adjcp    open    high     low      volume
825     826  20090105  PTBA  1560.0  1430.0  1590.0  1420.0  67257500.0
826     827  20090106  PTBA  1550.0  1570.0  1590.0  1510.0  50225000.0
827     828  20090107  PTBA  1510.0  1560.0  1630.0  1500.0  71385000.0
828     829  20090108  PTBA  1450.0  1480.0  1490.0  1440.0  16280000.0
829     830  20090109  PTBA  1590.0  1450.0  1590.0  1450.0  38810000.0
...     ...       ...   ...     ...     ...     ...     ...         ...
3641   3642  20200729  PTBA  2070.0  2080.0  2090.0  2050.0  14713800.0
3642   3643  20200730  PTBA  2030.0  2080.0  2090.0  2020.0  46692000.0
3643   3644  20200803  PTBA  1975.0  2030.0  2040.0  1895.0  77529900.0
3644   3645  20200804  PTBA  2010.0  2000.0  2020.0  1975.0  53867700.0
3645   3646  20200805  PTBA  2040.0  2010.0  2050.0  1995.0  30482100.0

[2821 rows x 8 columns]

     indeks  datadate   tic   adjcp    open    high     low       volume
824     825  20090105  PGAS  1960.0  1950.0  1980.0  1900.0   95288500.0
825     826  20090106  PGAS  2030.0  1960.0  2060.0  1960.0  110572000.0
826     827  20090107  PGAS  1950.0  2050.0  2125.0  1925.0  104222500.0
827     828  20090108  PGAS  2010.0  1900.0  2020.0  1880.0   56091500.0
828     829  20090109  PGAS  2125.0  2025.0  2125.0  2025.0   65204500.0
...     ...       ...   ...     ...     ...     ...     ...          ...
3640   3641  20200729  PGAS  1230.0  1220.0  1250.0  1205.0  100171500.0
3641   3642  20200730  PGAS  1265.0  1250.0  1280.0  1230.0  221126300.0
3642   3643  20200803  PGAS  1200.0  1265.0  1280.0  1180.0  192588400.0
3643   3644  20200804  PGAS  1205.0  1190.0  1230.0  1190.0  105825800.0
3644   3645  20200805  PGAS  1235.0  1205.0  1235.0  1200.0   83862900.0

[2821 rows x 8 columns]

     indeks  datadate   tic  adjcp   open   high    low       volume
358     359  20090105  MNCN  156.0  160.0  160.0  148.0      29500.0
359     360  20090107  MNCN  150.0  151.0  151.0  145.0     381000.0
360     361  20090108  MNCN  147.0  140.0  147.0  140.0     105000.0
361     362  20090109  MNCN  148.0  147.0  152.0  147.0     218500.0
362     363  20090112  MNCN  145.0  147.0  149.0  140.0     223000.0
...     ...       ...   ...    ...    ...    ...    ...          ...
3172   3173  20200729  MNCN  840.0  855.0  860.0  835.0   69948900.0
3173   3174  20200730  MNCN  820.0  840.0  845.0  810.0  127603700.0
3174   3175  20200803  MNCN  790.0  815.0  815.0  765.0  174977600.0
3175   3176  20200804  MNCN  840.0  815.0  860.0  795.0  143845100.0
3176   3177  20200805  MNCN  865.0  840.0  875.0  830.0  143435700.0

[2819 rows x 8 columns]

     indeks  datadate   tic   adjcp    open    high     low       volume
0         1  20150325  MIKA  2240.0  2150.0  2290.0  2120.0  234546000.0
1         2  20150326  MIKA  2217.5  2215.0  2272.5  2195.0   70872000.0
2         3  20150327  MIKA  2180.0  2202.5  2220.0  2130.0   53616000.0
3         4  20150330  MIKA  2215.0  2150.0  2217.5  2150.0   85117000.0
4         5  20150331  MIKA  2225.0  2250.0  2250.0  2210.0   39298000.0
...     ...       ...   ...     ...     ...     ...     ...          ...
1297   1298  20200729  MIKA  2350.0  2400.0  2430.0  2320.0   23945900.0
1298   1299  20200730  MIKA  2400.0  2360.0  2520.0  2340.0   29793900.0
1299   1300  20200803  MIKA  2400.0  2450.0  2500.0  2250.0   29827900.0
1300   1301  20200804  MIKA  2400.0  2400.0  2420.0  2340.0   35032900.0
1301   1302  20200805  MIKA  2400.0  2400.0  2460.0  2390.0   30154200.0

[1302 rows x 8 columns]

     indeks  datadate   tic   adjcp    open    high     low       volume
824     825  20090105  KLBF    81.0    81.0    84.0    80.0  165165000.0
825     826  20090106  KLBF    81.0    81.0    82.0    80.0   44137500.0
826     827  20090107  KLBF    81.0    81.0    83.0    80.0  166020000.0
827     828  20090108  KLBF    81.0    80.0    81.0    80.0   59210000.0
828     829  20090109  KLBF    95.0    81.0    96.0    81.0  397677500.0
...     ...       ...   ...     ...     ...     ...     ...          ...
3640   3641  20200729  KLBF  1525.0  1525.0  1555.0  1515.0   87768200.0
3641   3642  20200730  KLBF  1565.0  1530.0  1575.0  1530.0  104773100.0
3642   3643  20200803  KLBF  1560.0  1575.0  1585.0  1470.0   87572700.0
3643   3644  20200804  KLBF  1575.0  1585.0  1585.0  1560.0   37390200.0
3644   3645  20200805  KLBF  1615.0  1560.0  1640.0  1560.0  118886200.0

[2821 rows x 8 columns]

     indeks  datadate   tic   adjcp    open    high     low      volume
825     826  20090105  INKP   800.0   760.0   810.0   760.0   5843000.0
826     827  20090106  INKP   830.0   800.0   870.0   800.0  32535000.0
827     828  20090107  INKP   930.0   840.0   980.0   830.0  54487000.0
828     829  20090108  INKP   900.0   910.0   950.0   900.0  15397500.0
829     830  20090109  INKP   920.0   920.0   960.0   910.0  10715000.0
...     ...       ...   ...     ...     ...     ...     ...         ...
3639   3640  20200729  INKP  7850.0  7475.0  8025.0  7375.0  14139800.0
3640   3641  20200730  INKP  7800.0  7950.0  8000.0  7725.0   6344700.0
3641   3642  20200803  INKP  7425.0  7850.0  8000.0  7275.0  12954100.0
3642   3643  20200804  INKP  8175.0  7575.0  8200.0  7500.0  15438500.0
3643   3644  20200805  INKP  8325.0  8200.0  8450.0  8050.0  14546100.0

[2819 rows x 8 columns]

     indeks  datadate   tic    adjcp     open     high      low     volume
238     239  20090105  ITMG  12550.0  10700.0  12600.0  10700.0  2041000.0
239     240  20090106  ITMG  12400.0  12600.0  12800.0  12000.0  1479500.0
240     241  20090107  ITMG  12000.0  12550.0  12800.0  11900.0  1520500.0
241     242  20090108  ITMG  11800.0  11500.0  11800.0  11400.0   230000.0
242     243  20090109  ITMG  12100.0  11900.0  12200.0  11800.0   504500.0
...     ...       ...   ...      ...      ...      ...      ...        ...
3054   3055  20200729  ITMG   7900.0   8125.0   8125.0   7825.0  2774000.0
3055   3056  20200730  ITMG   7900.0   7900.0   7950.0   7800.0  3453200.0
3056   3057  20200803  ITMG   7650.0   7900.0   7950.0   7400.0  4671500.0
3057   3058  20200804  ITMG   7725.0   7650.0   7775.0   7600.0  1970400.0
3058   3059  20200805  ITMG   7725.0   7675.0   7800.0   7475.0  4259300.0

[2821 rows x 8 columns]

     indeks  datadate   tic   adjcp    open    high     low      volume
627     628  20090105  JPFA    83.0    83.0    83.0    76.0    755000.0
628     629  20090106  JPFA    75.0    75.0    75.0    75.0     25000.0
629     630  20090108  JPFA    90.0    86.0    90.0    75.0     37500.0
630     631  20090112  JPFA    90.0    92.0    92.0    90.0     25000.0
631     632  20090114  JPFA    88.0    88.0    90.0    86.0   1512500.0
...     ...       ...   ...     ...     ...     ...     ...         ...
3411   3412  20200729  JPFA  1105.0  1125.0  1135.0  1100.0  24456100.0
3412   3413  20200730  JPFA  1060.0  1105.0  1110.0  1055.0  57596600.0
3413   3414  20200803  JPFA  1000.0  1060.0  1065.0   990.0  61561600.0
3414   3415  20200804  JPFA  1020.0  1010.0  1040.0  1000.0  32412900.0
3415   3416  20200805  JPFA  1045.0  1025.0  1045.0  1010.0  20241500.0

[2789 rows x 8 columns]

     indeks  datadate   tic    adjcp     open     high      low     volume
827     828  20090105  INTP   5050.0   4600.0   5050.0   4600.0  3534000.0
828     829  20090106  INTP   5200.0   5100.0   5250.0   5050.0  2973000.0
829     830  20090107  INTP   5000.0   5250.0   5250.0   4900.0  3731500.0
830     831  20090108  INTP   5100.0   4500.0   5100.0   4500.0   530000.0
831     832  20090109  INTP   4800.0   4950.0   5000.0   4800.0   549500.0
...     ...       ...   ...      ...      ...      ...      ...        ...
3643   3644  20200729  INTP  12400.0  12450.0  12600.0  12400.0  6969200.0
3644   3645  20200730  INTP  12375.0  12500.0  12500.0  12350.0  7584200.0
3645   3646  20200803  INTP  11900.0  12425.0  12475.0  11600.0  6555900.0
3646   3647  20200804  INTP  11950.0  12000.0  12125.0  11850.0  4379300.0
3647   3648  20200805  INTP  12325.0  11975.0  12450.0  11975.0  5009200.0

[2821 rows x 8 columns]

,indeks,datadate,tic,adjcp,open,high,low,volume
680,681,20090106,EXCL,1006.1178,937.0705,1006.1178,937.0705,43593.0
681,682,20090107,EXCL,986.39,986.39,1144.2124,986.39,53731.0
682,683,20090109,EXCL,1085.029,986.39,1085.029,986.39,25851.0
683,684,20090112,EXCL,986.39,986.39,986.39,986.39,506.0
684,685,20090114,EXCL,986.39,986.39,986.39,986.39,11151.0
...,...,...,...,...,...,...,...,...
3376,3377,20200729,EXCL,2540.0,2700.0,2710.0,2540.0,57573700.0
3377,3378,20200730,EXCL,2500.0,2540.0,2560.0,2410.0,60590100.0
3378,3379,20200803,EXCL,2380.0,2500.0,2510.0,2330.0,38058800.0
3379,3380,20200804,EXCL,2440.0,2380.0,2450.0,2340.0,36354000.0
3380,3381,20200805,EXCL,2480.0,2440.0,2480.0,2380.0,32538000.0

     indeks  datadate   tic   adjcp    open    high     low      volume
829     830  20090105  INCO  2300.0  2050.0  2300.0  2030.0  30353500.0
830     831  20090106  INCO  2225.0  2300.0  2325.0  2100.0  21013000.0
831     832  20090107  INCO  2600.0  2300.0  2650.0  2275.0  58399500.0
832     833  20090108  INCO  2525.0  2500.0  2575.0  2400.0  26228000.0
833     834  20090109  INCO  2800.0  2525.0  2825.0  2525.0  21530000.0
...     ...       ...   ...     ...     ...     ...     ...         ...
3645   3646  20200729  INCO  3400.0  3420.0  3460.0  3360.0  17851000.0
3646   3647  20200730  INCO  3420.0  3480.0  3510.0  3410.0  11143500.0
3647   3648  20200803  INCO  3350.0  3420.0  3470.0  3190.0  16796700.0
3648   3649  20200804  INCO  3420.0  3350.0  3450.0  3340.0   7781100.0
3649   3650  20200805  INCO  3620.0  3440.0  3630.0  3430.0  27823900.0

[2821 rows x 8 columns]

     indeks  datadate   tic   adjcp    open    high     low       volume
827     828  20090105  INDF   980.0   950.0   980.0   920.0  154640500.0
828     829  20090106  INDF  1020.0  1000.0  1110.0   980.0  346017500.0
829     830  20090107  INDF  1020.0  1040.0  1080.0  1020.0  147142500.0
830     831  20090108  INDF  1030.0  1000.0  1050.0   990.0   23846500.0
831     832  20090109  INDF  1090.0  1030.0  1110.0  1020.0  144413500.0
...     ...       ...   ...     ...     ...     ...     ...          ...
3643   3644  20200729  INDF  6400.0  6425.0  6450.0  6350.0    7944800.0
3644   3645  20200730  INDF  6450.0  6500.0  6500.0  6400.0   10514000.0
3645   3646  20200803  INDF  6475.0  6475.0  6550.0  6300.0   12457500.0
3646   3647  20200804  INDF  6750.0  6650.0  6800.0  6500.0   45557500.0
3647   3648  20200805  INDF  7075.0  6750.0  7100.0  6750.0   29370600.0

[2821 rows x 8 columns]

     indeks  datadate   tic    adjcp     open     high     low       volume
0         1  20101008  ICBP   2850.0   3000.0   3000.0  2825.0   72267000.0
1         2  20101011  ICBP   2725.0   2800.0   2850.0  2600.0  102116000.0
2         3  20101012  ICBP   2775.0   2725.0   2875.0  2650.0   50820000.0
3         4  20101013  ICBP   2800.0   2750.0   2825.0  2750.0   20092000.0
4         5  20101014  ICBP   2775.0   2825.0   2850.0  2725.0   38150000.0
...     ...       ...   ...      ...      ...      ...     ...          ...
2389   2390  20200729  ICBP   9125.0   9075.0   9125.0  9050.0    6255400.0
2390   2391  20200730  ICBP   9200.0   9125.0   9200.0  9075.0    8499300.0
2391   2392  20200803  ICBP   9300.0   9200.0   9400.0  9075.0   20483300.0
2392   2393  20200804  ICBP  10025.0   9425.0  10425.0  9200.0   45798800.0
2393   2394  20200805  ICBP  10550.0  10000.0  10625.0  9925.0   25765000.0

[2394 rows x 8 columns]

Empty DataFrame
Columns: [indeks, datadate, tic, adjcp, open, high, low, volume]
Index: []

     indeks  datadate   tic   adjcp    open    high     low      volume
761     762  20090105  CPIN    94.0    89.0    94.0    88.0  41810000.0
762     763  20090106  CPIN    96.0    94.0    98.0    94.0  33797500.0
763     764  20090107  CPIN    96.0    97.0    98.0    94.0  20977500.0
764     765  20090108  CPIN    95.0    95.0    96.0    94.0  26135000.0
765     766  20090109  CPIN    95.0    95.0    95.0    94.0   3950000.0
...     ...       ...   ...     ...     ...     ...     ...         ...
3573   3574  20200729  CPIN  6200.0  6200.0  6250.0  6125.0   5735800.0
3574   3575  20200730  CPIN  6225.0  6225.0  6250.0  6075.0  10088200.0
3575   3576  20200803  CPIN  5925.0  6150.0  6225.0  5800.0  14895500.0
3576   3577  20200804  CPIN  6250.0  5950.0  6250.0  5725.0  13789800.0
3577   3578  20200805  CPIN  6200.0  6275.0  6300.0  6150.0   5812500.0

[2817 rows x 8 columns]

     indeks  datadate   tic  adjcp   open   high    low       volume
0         1  20111215  ERAA  198.0  194.0  198.0  190.0   29870000.0
1         2  20111216  ERAA  202.0  198.0  202.0  198.0   57122500.0
2         3  20111219  ERAA  202.0  200.0  202.0  198.0   83347500.0
3         4  20111220  ERAA  198.0  200.0  202.0  198.0   77015000.0
4         5  20111221  ERAA  200.0  200.0  200.0  198.0   26410000.0
...     ...       ...   ...    ...    ...    ...    ...          ...
2096   2097  20200729  ERAA  290.0  289.0  292.0  280.0   69737500.0
2097   2098  20200730  ERAA  294.0  292.0  296.0  282.0  124325500.0
2098   2099  20200803  ERAA  298.0  297.0  303.0  274.0  213122000.0
2099   2100  20200804  ERAA  298.0  301.0  310.0  295.0  242274000.0
2100   2101  20200805  ERAA  303.0  300.0  304.0  294.0   98796500.0

[2101 rows x 8 columns]

     indeks  datadate   tic  adjcp   open   high    low     volume
0         1  20100113  EMTK   72.0   73.0   73.0   70.0  8550000.0
1         2  20100114  EMTK   70.0   72.0   72.0   70.0  5755000.0
2         3  20100115  EMTK   63.0   70.0   71.0   63.0  3315000.0
3         4  20100118  EMTK   64.0   65.0   65.0   63.0   860000.0
4         5  20100119  EMTK   64.0   61.0   64.0   57.0  5805000.0
...     ...       ...   ...    ...    ...    ...    ...        ...
1651   1652  20200729  EMTK  460.0  460.0  460.0  460.0     1000.0
1652   1653  20200730  EMTK  450.0  450.0  450.0  450.0     1000.0
1653   1654  20200803  EMTK  449.0  444.0  449.0  444.0    42000.0
1654   1655  20200804  EMTK  440.0  448.0  448.0  440.0   224000.0
1655   1656  20200805  EMTK  429.0  430.0  430.0  429.0    16000.0

[1656 rows x 8 columns]

     indeks  datadate   tic   adjcp    open    high     low      volume
103     104  20090105  ADRO   520.0   490.0   520.0   485.0  14824500.0
104     105  20090106  ADRO   510.0   520.0   540.0   510.0  11781500.0
105     106  20090107  ADRO   520.0   510.0   550.0   510.0  27035500.0
106     107  20090108  ADRO   500.0   510.0   510.0   500.0   2130000.0
107     108  20090109  ADRO   510.0   510.0   520.0   510.0   1698000.0
...     ...       ...   ...     ...     ...     ...     ...         ...
2919   2920  20200729  ADRO  1085.0  1085.0  1095.0  1070.0  32109100.0
2920   2921  20200730  ADRO  1085.0  1090.0  1100.0  1075.0  41227100.0
2921   2922  20200803  ADRO  1030.0  1090.0  1095.0  1010.0  59722100.0
2922   2923  20200804  ADRO  1035.0  1040.0  1060.0  1030.0  46118000.0
2923   2924  20200805  ADRO  1050.0  1045.0  1055.0  1030.0  32037900.0

[2821 rows x 8 columns]

    indeks  datadate   tic  adjcp   open   high    low       volume
0        1  20180511  BRIS  620.0  550.0  660.0  550.0  285278000.0
1        2  20180514  BRIS  600.0  620.0  650.0  600.0  124691400.0
2        3  20180515  BRIS  570.0  605.0  610.0  570.0   59063700.0
3        4  20180516  BRIS  585.0  570.0  585.0  540.0   35611400.0
4        5  20180517  BRIS  585.0  595.0  600.0  580.0   26683900.0
..     ...       ...   ...    ...    ...    ...    ...          ...
537    538  20200729  BRIS  550.0  595.0  615.0  550.0  387849400.0
538    539  20200730  BRIS  540.0  550.0  580.0  520.0  287754200.0
539    540  20200803  BRIS  515.0  540.0  560.0  505.0  161959200.0
540    541  20200804  BRIS  535.0  515.0  555.0  515.0  168454600.0
541    542  20200805  BRIS  550.0  540.0  570.0  520.0  208206100.0

[542 rows x 8 columns]

     indeks  datadate   tic  adjcp    open    high    low       volume
826     827  20090105  BRPT   66.0    61.0    70.0   60.0   95470000.0
827     828  20090106  BRPT   62.0    66.0    71.0   62.0   72175000.0
828     829  20090107  BRPT   63.0    63.0    70.0   61.0   80160000.0
829     830  20090108  BRPT   64.0    61.0    65.0   61.0   29180000.0
830     831  20090109  BRPT   62.0    64.0    66.0   62.0   42590000.0
...     ...       ...   ...    ...     ...     ...    ...          ...
3621   3622  20200729  BRPT  950.0  1010.0  1030.0  950.0   57125700.0
3622   3623  20200730  BRPT  950.0   890.0  1050.0  885.0  396283500.0
3623   3624  20200803  BRPT  895.0   950.0   980.0  885.0  140277400.0
3624   3625  20200804  BRPT  890.0   930.0   935.0  860.0  161299700.0
3625   3626  20200805  BRPT  900.0   900.0   925.0  860.0  148987900.0

[2800 rows x 8 columns]

,indeks,datadate,tic,adjcp,open,high,low,volume
826,827,20090105,ANTM,1033.17048,957.57264,1049.97,949.17288,158999185.0
827,828,20090106,ANTM,991.17168,1033.17048,1041.57024,965.9724,91663333.0
828,829,20090107,ANTM,1033.17048,1007.9712,1108.76832,999.57144,302919964.0
829,830,20090108,ANTM,974.37216,1007.9712,1007.9712,965.9724,54473580.0
830,831,20090109,ANTM,1049.97,991.17168,1049.97,982.77192,76111698.0
...,...,...,...,...,...,...,...,...
3642,3643,20200729,ANTM,730.0,720.0,740.0,710.0,79691500.0
3643,3644,20200730,ANTM,730.0,730.0,740.0,720.0,68996600.0
3644,3645,20200803,ANTM,700.0,740.0,750.0,680.0,110870200.0
3645,3646,20200804,ANTM,705.0,700.0,715.0,700.0,43434000.0
3646,3647,20200805,ANTM,750.0,730.0,750.0,715.0,182812800.0

In [5]:
# Merge the Dataframes
mergedDataframe = pd.concat(new_dataframes_list,ignore_index=True)
display(mergedDataframe)

,indeks,datadate,tic,adjcp,open,high,low,volume
0,275,20090105,WIKA,208.366425,208.366425,212.99679,203.73606,41814198.0
1,276,20090106,WIKA,208.366425,208.366425,212.99679,199.105695,28309863.0
2,277,20090107,WIKA,208.366425,208.366425,217.627155,203.73606,53218806.0
3,278,20090108,WIKA,208.366425,203.73606,208.366425,194.47533,10329099.0
4,279,20090109,WIKA,208.366425,208.366425,217.627155,208.366425,30700063.0
...,...,...,...,...,...,...,...,...
74468,3643,20200729,ANTM,730.0,720.0,740.0,710.0,79691500.0
74469,3644,20200730,ANTM,730.0,730.0,740.0,720.0,68996600.0
74470,3645,20200803,ANTM,700.0,740.0,750.0,680.0,110870200.0
74471,3646,20200804,ANTM,705.0,700.0,715.0,700.0,43434000.0
74472,3647,20200805,ANTM,750.0,730.0,750.0,715.0,182812800.0

In [6]:
# Save dataframe as csv
dataset = mergedDataframe.to_csv("/content/gdrive/MyDrive/TugasAkhirS1-DRL/5TradingViewScraper/5.2.MergedDataset/TradingView_JIIDataset_2009_2020.csv")